@font-face {
    font-family: Noto Sans KR;
    src: url(src/fonts/NotoSansKR-Medium.ttf);
}
@font-face {
    font-family: Noto Sans KR2;
    src: url(src/fonts/NotoSansKR-Regular.ttf);
}
body {
    margin: 0 auto;
}
.header-ul {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 20px;
    margin-right: 10px;
}
.header-li a {
    text-decoration: none;
    color: black;
}
.header-li {
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #0000001a;
    font-size: 12px;
    font-family: Noto Sans KR;
}
.accountContanier {
    background-color: #f5f5f7;
    padding: 10px 0px 10px 0px;
}
.accountBox {
    font-family: Noto Sans KR;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 50px;
}
.account {
    font-size: 20px;
    border-bottom: 1px solid #cececf;
}
.sayHello {
    font-size: 30px;
}

.info {
    font-family: Noto Sans KR2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 19% 0px 19%;
    padding: 10px 30px 0px 30px;
    border: 1px solid #e1e3e1;
    border-radius: 10px;
}
.name, .id, .pwd, .tel {
    display: flex;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid #0000001a;
    align-items: center;
}
td {
    width: 35%;
    padding: 20px 0px 20px 0px;
}
tr td:first-child {
    font-size: 13px;
    color: #444746;
}
tr td:last-child {
    text-align: right;
}
img {
    width: 15px;
}


footer {
    background-color: #f5f5f7;
}
.copyright {
    font-family: Noto Sans KR2;
    margin: 100px 19% 0px 19%;
    color: #6e6e73;
    line-height: 13px;
    font-size: 12px;
    padding: 40px 0px 40px 0px;

}